.tree-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevents unwanted scrollbars */
  max-height: 100%;
  overflow: hidden;
  margin: 20px;
}

svg {
  display: block;
}
